@keyframes stretch {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes neon {
  to {
    transform: translate(50%, 0);
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}
body header {
  text-align: right;
  padding: 20px 30px;
}
body header .navbar a {
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  color: #00FFD4;
  text-decoration: none;
  margin: 0px 20px;
  padding: 10px 30px;
  letter-spacing: 3px;
  transition: 0.5s;
  overflow: hidden;
}
body header .navbar a span {
  position: absolute;
  display: block;
}
body header .navbar a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00FFD4);
  animation: animate1 1.5s linear infinite;
}
body header .navbar a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00FFD4);
  animation: animate2 1.5s linear infinite;
  animation-delay: 0.4s;
}
body header .navbar a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00FFD4);
  animation: animate3 1.5s linear infinite;
  animation-delay: 0.8s;
}
body header .navbar a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00FFD4);
  animation: animate4 1.5s linear infinite;
  animation-delay: 1.15s;
}
body header .navbar a:hover {
  background: #00FFD4;
  border-radius: 8px;
  color: #000000;
  box-shadow: 0 0 5px #00FFD4, 0 0 25px #00FFD4, 0 0 50px #00FFD4, 0 0 200px #00FFD4;
}
body .trait_blanc {
  background-color: white;
  height: 1px;
}
body .master_content {
  margin-top: 5%;
  text-align: center;
}
body .master_content .prenom {
  display: inline-flex;
  filter: brightness(200%);
  overflow: hidden;
}
body .master_content .prenom #neon-prenom {
  font-size: 150px;
  color: #ffffff;
  background: black;
  font-family: "Harlow Solid Plain";
  text-transform: capitalize;
}
body .master_content .prenom #neon-prenom::before {
  content: "Antoine Puech";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}
body .master_content .prenom .gradient {
  background: linear-gradient(90.776390338deg, #00ffd4 9.8372395833%, #fa0060 78.6279296875%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
body .master_content .prenom .dodge {
  background: radial-gradient(circle, white, black 25%) center/25% 25%;
  position: absolute;
  top: -20%;
  left: -300%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: neon 7s linear infinite;
}
body .master_content #comete {
  width: 750px;
  margin: 0 auto;
}
body .master_content .info #info {
  color: #F9006B;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Montserrat Alternates";
  font-weight: 300;
}
body #triangle {
  transition: all 0.8s;
  position: absolute;
  top: 20%;
  left: 5%;
}
body #triangle1 {
  transition: all 0.8s;
  position: absolute;
  top: 70%;
  left: 15%;
}
body #triangle2 {
  transition: all 0.8s;
  position: absolute;
  bottom: 20%;
  right: 12%;
}
body #triangle3 {
  transition: all 0.8s;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
body #triangle4 {
  transition: all 0.8s;
  position: absolute;
  bottom: 60%;
  left: 15%;
}
body #triangle5 {
  transition: all 0.8s;
  position: absolute;
  top: 15%;
  right: 20%;
}
body #triangle5:hover {
  animation: rubberband 2s;
  transition: all 0.8s;
  overflow: hidden;
}
body #circle {
  transition: all 0.3s;
  position: absolute;
  top: 40%;
  right: 5%;
}
body #circle1 {
  transition: all 0.3s;
  position: absolute;
  top: 80%;
  right: 30%;
}
body #circle2 {
  transition: all 0.3s;
  position: absolute;
  bottom: 10%;
  left: 35%;
}
body #circle3 {
  transition: all 0.3s;
  position: absolute;
  top: 15%;
  left: 28%;
}
body #circle4 {
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 10%;
}
body #circle5 {
  transition: all 0.3s;
  position: absolute;
  top: 15%;
  right: 40%;
}
body #zigzag {
  position: absolute;
  right: 15%;
  bottom: 40%;
}
body #zigzag1 {
  position: absolute;
  left: 40%;
  top: 13%;
}
body #zigzag1 {
  position: absolute;
  left: 40%;
  top: 13%;
}
body #zigzag2 {
  position: absolute;
  left: 5%;
  bottom: 13%;
}
body #zigzag3 {
  position: absolute;
  left: 22%;
  bottom: 10%;
}
body #zigzag4 {
  position: absolute;
  right: 18%;
  bottom: 13%;
}
body #zigzag5 {
  position: absolute;
  right: 7%;
  top: 20%;
}

/*# sourceMappingURL=index.css.map */
