$fond: #001C38; $font: Montserrat Alternates;
$cyan: #00FFD4; $rose:#F9006B;
$scale: scale(1.3); $rotate: rotate(360deg);


@keyframes stretch {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


*{
    padding: 0;
    margin: 0;
}
body{
    background-color: $fond;

    header{
        text-align: right;
        padding: 15px 50px;
        .navbar{
            a{
            font-family: $font;
            font-size: 25px;
            color: $cyan;
            text-decoration: none;
            margin: 0 30px;
            }
            .accueil{
            border: solid 1.5px $rose;
            border-radius: 7px;
            padding: 2px 8px;
           }
            .projet{
            border: solid 1.5px $rose;
            border-radius: 7px;
            padding: 2px 8px;
           }
           .contact{
             border: solid 1.5px $rose;
             border-radius: 7px;
             padding: 2px 8px;
        }
      }
    }
    .trait_blanc{
    background-color: white;
    height: 2px;
    }

    .master_content{
        margin-top: 5%;
        text-align: center;
        .prenom{
            text-align: center;
                svg{
                    position: relative;
                    top: 15px;
                    overflow: hidden;
                }
                }
        #comete{
            width: 750px;
            margin: 0 auto;
        }
        .info{

            #info{
                color: $rose;
                text-transform: uppercase;
                font-size: 60px;
                font-family: $font;
                font-weight: 300;
            }
        }
    }
    // ELEMENT DE DECORS DU FOND ///////////////////
    #triangle{
        transition: all 0.8s;
        position: absolute;
        top: 20%;
        left: 5%;
    }
      #triangle1{
        transition: all 0.8s;
        position: absolute;
        top: 70%;
        left: 15%;
    }
      #triangle2{
        transition: all 0.8s;
        position: absolute;
        bottom: 20%;
        right: 12%;
        
    }
      #triangle3{
        
        transition: all 0.8s;
        position: absolute;
        bottom: 10%;
        left: 50%;
        
    }
      #triangle4{
        
        transition: all 0.8s;
        position: absolute;
        bottom: 60%;
        left: 15%;
        transform: rotate(30deg);
        
    }
      #triangle5{
        
        transition: all 0.8s;
        position: absolute;
        top: 15%;
        right: 20%;
        
    }
    #triangle5:hover{
        animation: rubberband 2s;
        transition: all 0.8s;
        overflow: hidden;
      }
      
      #circle{
        
        transition: all 0.3s;
        position: absolute;
        top: 40%;
        right: 5%;
    }
      #circle1{
        
        transition: all 0.3s;
        position: absolute;
        top: 80%;
        right: 30%;
        
    }
      #circle2{
        transition: all 0.3s;
        position: absolute;
        top: 75%;
        left: 30%;
        
    }
      #circle3{
        
        transition: all 0.3s;
        position: absolute;
        top: 15%;
        left: 25%;
        
    }
      #circle4{
        
        transition: all 0.3s;
        position: absolute;
        top: 50%;
        left: 10%;
        
    }
      #circle5{
        transition: all 0.3s;
        position: absolute;
        top: 15%;
        right: 40%;
    }
      #zigzag{
        transform: rotate(5deg);
        position: absolute;
        right: 15%;
        bottom: 40%;
      }
      #zigzag1{
        transform: rotate(105deg);
        position: absolute;
        left: 40%;
        top: 13%;
      }
      #zigzag1{
        transform: rotate(105deg);
        position: absolute;
        left: 40%;
        top: 13%;
      }
      #zigzag2{
        transform: rotate(145deg);
        position: absolute;
        left: 5%;
        bottom: 13%;
      }

      //////////////////////////////////////////////////////////
}